rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents/cars {
    function getRole(role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
    }

    match /{document=**} {
      allow read;
      allow update: if getRole('editor') == true;
      allow create, delete: if getRole('admin') == true;
    }
  }

  match /databases/{database}/documents/users {
    match /{document=**} {
      allow read, create, update, delete;
    }
  }
}
