<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color ie-nav"
            dir="rtl" [containerInside]="false">
  <mdb-navbar-brand><h1 class="navbar-brand text-white">משכיות | אישורי כניסה</h1></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item waves-light" mdbWavesEffect>
        <img src="assets/bikat-yarden.png" height="55" width="55" style="background-color: transparent">
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <img src="assets/maskiot.png" height="55" width="55" style="background-color: transparent">
      </li>
    </ul>
  </links>
</mdb-navbar>
