::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 60px;
}

::-webkit-scrollbar-thumb {
  background-color: #7986CB;
  border-radius: 60px;
}
